openapi: 3.1.0
info:
  title: Mendix Deploy API v1 Apps Logs API
  description: 'The Mendix Deploy API manages apps, environments, deployment packages,

    transports, logs, scaling, settings, and tags on Mendix Cloud. Authentication

    uses the Mendix-Username and Mendix-ApiKey request headers tied to a Mendix

    user account.

    '
  version: '1'
  contact:
    name: Mendix
    url: https://docs.mendix.com/apidocs-mxsdk/apidocs/deploy-api/
servers:
- url: https://deploy.mendix.com/api/1
  description: Mendix Cloud Deploy API v1
security:
- mendixApiKey: []
tags:
- name: Logs
paths:
  /apps/{AppId}/environments/{Mode}/logs/{Date}:
    parameters:
    - $ref: '#/components/parameters/AppId'
    - $ref: '#/components/parameters/Mode'
    - name: Date
      in: path
      required: true
      schema:
        type: string
        format: date
    get:
      tags:
      - Logs
      summary: Download app logs for date
      responses:
        '200':
          description: Logs
  /apps/{AppId}/environments/{Mode}/access-logs/{Date}:
    parameters:
    - $ref: '#/components/parameters/AppId'
    - $ref: '#/components/parameters/Mode'
    - name: Date
      in: path
      required: true
      schema:
        type: string
        format: date
    get:
      tags:
      - Logs
      summary: Download access logs for date
      responses:
        '200':
          description: Access logs
components:
  parameters:
    Mode:
      name: Mode
      in: path
      required: true
      schema:
        type: string
        enum:
        - Test
        - Acceptance
        - Production
      description: Environment mode.
    AppId:
      name: AppId
      in: path
      required: true
      schema:
        type: string
      description: Sub-domain name of the app.
  securitySchemes:
    mendixApiKey:
      type: apiKey
      in: header
      name: Mendix-ApiKey
      description: 'Mendix API key. Must be paired with a Mendix-Username header containing the

        login name of the user the key belongs to.

        '
