openapi: 3.1.0
info:
  title: Mendix Deploy API v1 Apps Packages API
  description: 'The Mendix Deploy API manages apps, environments, deployment packages,

    transports, logs, scaling, settings, and tags on Mendix Cloud. Authentication

    uses the Mendix-Username and Mendix-ApiKey request headers tied to a Mendix

    user account.

    '
  version: '1'
  contact:
    name: Mendix
    url: https://docs.mendix.com/apidocs-mxsdk/apidocs/deploy-api/
servers:
- url: https://deploy.mendix.com/api/1
  description: Mendix Cloud Deploy API v1
security:
- mendixApiKey: []
tags:
- name: Packages
paths:
  /apps/{AppId}/environments/{Mode}/package:
    parameters:
    - $ref: '#/components/parameters/AppId'
    - $ref: '#/components/parameters/Mode'
    get:
      tags:
      - Packages
      summary: Get deployed package
      responses:
        '200':
          description: Deployed package details
  /apps/{AppId}/packages/upload:
    parameters:
    - $ref: '#/components/parameters/AppId'
    post:
      tags:
      - Packages
      summary: Upload deployment package
      responses:
        '200':
          description: Package uploaded
  /apps/{AppId}/environments/{Mode}/transport:
    parameters:
    - $ref: '#/components/parameters/AppId'
    - $ref: '#/components/parameters/Mode'
    post:
      tags:
      - Packages
      summary: Transport package to environment
      responses:
        '200':
          description: Transport accepted
components:
  parameters:
    Mode:
      name: Mode
      in: path
      required: true
      schema:
        type: string
        enum:
        - Test
        - Acceptance
        - Production
      description: Environment mode.
    AppId:
      name: AppId
      in: path
      required: true
      schema:
        type: string
      description: Sub-domain name of the app.
  securitySchemes:
    mendixApiKey:
      type: apiKey
      in: header
      name: Mendix-ApiKey
      description: 'Mendix API key. Must be paired with a Mendix-Username header containing the

        login name of the user the key belongs to.

        '
